.cart-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10rem;
    font-size: 1.6rem;
}

.cart-table img {
    height: 5rem;
}

.cart-table input {
    width: 30%;
    text-align: center;
}

.cart-table th {
    border-bottom: 1px solid black;
}


.cart-table tr {
    border-bottom: 0.1px solid gray;
}

.cart-table th, .cart-table td {
    /* width: 33%; */
    text-align: center;
    padding: 2rem;
    margin-left: 2rem;
}

.cart-table button {
    all: unset;
    cursor: pointer;
    padding: 1rem;
}

@media (max-width : 500px) {
    .cart-table td:first-child, .cart-table th:first-child {
        display: none;
    }
}