.admin-sidebar {
    height: 100vh;
    border-right: 1px solid gray;
}

.admin-sidebar a:first-child {
    margin-top: 5rem;
}

.admin-sidebar a {
    cursor: pointer;
    margin-bottom: 3rem;
    border: 1px solid gray;
    border-right: none;
    margin-left: 5rem;
    padding: 1rem 8rem 1rem 1rem;
    font-size: 1.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 2rem
}

.active {
    background-color: #ff634733;
}
