nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.logo {
    font-size: 4rem;
    font-weight: 600;
    color: tomato;
}
.logo::after {
    content: '.';
    font-size: 4rem;
    line-height: 3.2rem;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-center ul li {
    list-style: none;
    cursor: pointer;
    color: #363636
    /* padding-bottom: 1rem; */
}

.active {
    border-bottom: 0.2rem solid #363636;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-right button {
    background-color: transparent;
    border: 0.1rem solid tomato;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #ff634749;
}

@media (max-width: 1080px) {

    .nav-center {
        display: none;
    }
    .nav-right {
        gap: 2rem
    }
}