nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.logo {
    font-size: 4rem;
    font-weight: 600;
    color: tomato;
}
.logo::after {
    content: '.';
    font-size: 4rem;
    line-height: 3.2rem;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-center ul li {
    list-style: none;
    cursor: pointer;
    color: #363636
}

.active {
    border-bottom: 0.2rem solid #363636;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-right button {
    background-color: transparent;
    border: 0.1rem solid tomato;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #ff634749;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-more {
    display: none;
    position: absolute;
    right: -1px;
    margin-top: -2px;
    z-index: 1;
    background-color: white;
    border-radius: 4px;
    border: 1px solid tomato;
    /* outline: 2px solid white; */
}

.profile-more:hover {
    display: block;
}

.profile-img:hover + .profile-more {
display: block;
}

.profile-more li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    /* border: 1px solid tomato; */
}

.profile-more li:hover {
    color: tomato;
}

@media (max-width: 1080px) {

    .nav-center {
        display: none;
    }
    .nav-right {
        gap: 2rem
    }
}