.banner {
    margin-top: 5rem;
    position: relative;
    background-image: url('./../../assets/header_img.png');
    background-repeat: no-repeat;
    background-position: center;
    height: min(65rem, 100vh);
    border-radius: 5rem;
}

.banner-content {
    position: absolute;
    color: white;
    padding: 10rem 5rem;
    bottom: 0;
    max-width: 70%;
}

.banner p {
    text-shadow: 0.5rem 0.5rem 2rem black;
    margin: 2rem 0;
}

.banner p:first-child {
    font-size: 8rem;
    font-weight: 500;
}

.banner input {
    all: unset;
    border-radius: 10rem;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    width: fit-content;
    cursor: pointer;
}

@media (max-width: 500px) {

    .banner-content p:first-child{
        font-size: 6rem;
    }

    .banner-content {
        padding-left: 5rem;
        padding-bottom: 2.5rem;
    }
}