.cart-totals {
    max-width: 40rem;
}

.cart-totals table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.cart-totals table td {
    padding: 1rem;
}

.cart-totals table td:last-child {
    text-align: end;
}

.cart-totals table tr:first-child {
    border-bottom: 0.1rem solid gray;
}

.cart-totals table tr:nth-child(2) {
    border-bottom: 0.1rem solid black;
}

@media (max-width: 700px) {
    .cart-totals {
        margin-top: 1rem;
    }
}